// Sass variables
$pin-red: #cb2027;

// Custom Bootstrap CSS
$link-color: $pin-red;
$navbar-default-brand-color: $pin-red;
$brand-primary: $pin-red;

$body-bg: #e9e9e9;
$navbar-default-bg: #ffffff;

$pagination-active-bg: $pin-red;
$pagination-active-border: $pin-red;

$navbar-height: 40px;

@import "bootstrap-sprockets";
@import "bootstrap";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require 'masonry/transitions'
 *= require_tree .
 *= require_self
 */

/* Signup & Login form styling */

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.reg-bg {
  padding-top: 4em;
  height: 100%;
}

body#reg-bg {
  background-image: image-url('regback.jpg');
  background: image-url('regback.jpg') no-repeat-y 50% 50% fixed;
  background-size: 100% auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 100%;
  width: auto;
}

.log-in {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: none;
}

.panel {
  border-radius: 8px;
}

.panel-heading {
  h1 {
    text-align: center;
  }
}

.alert {
  margin-bottom: 0px;
}

.login-bg {
  padding-top: 4em;
  height: 100%;
}

body#login-bg {
  background-image: image-url('logback.jpg');
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

.div.log-in.panel {
  padding-top: 4em;
}

/*flash*/

.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

/* Index styling */

.center {
  text-align: center;
}
